# Modules

In [6]:
from data_collector import collector

# Data

In [7]:
symbols = ['BTC', 'ETH', 'EOS', 'LTC', 'DASH', 'XRP', 'BCH', 'TRX', 'ADA', 'NEO', 'HT', 'IOT']
freq = 'minute'

In [8]:
data = collector(freq, symbols)
data.head()

,BTC,ETH,EOS,LTC,DASH,XRP,BCH,TRX,ADA,NEO,HT,IOT
time,,,,,,,,,,,,
2018-05-27 08:37:00,7315.99,583.04,12.15,117.31,317.19,0.5995,987.81,0.07125,0.1937,51.46,3.73,1.44
2018-05-27 08:38:00,7327.81,583.07,12.16,117.34,317.17,0.5995,989.44,0.07128,0.1937,51.46,3.72,1.44
2018-05-27 08:39:00,7327.92,583.08,12.16,117.34,317.28,0.5994,988.89,0.07128,0.1937,51.46,3.72,1.44
2018-05-27 08:40:00,7326.96,582.98,12.17,117.35,316.96,0.5994,989.60,0.07130,0.1937,51.41,3.72,1.44
2018-05-27 08:41:00,7322.65,582.96,12.16,117.35,316.87,0.5994,987.41,0.07129,0.1937,51.42,3.72,1.44